<fa-view>
  <fa-container-surface>
      <fa-surface fa-pipe-to="$page.scroll">
        <div class="exp-connections" layout="column" flex layout-fill>
          <div md-toggle-flex="searchOpen" layout="column" class="exp-connections-search" ng-init="searchOpen = false">
            <div layout="row">
              <div flex class="exp-input-search-container">
                <input class="exp-input-search-input" placeholder="Procure por uma conexão..." name="search" ng-model="searchConnection">
                <md-button aria-label="" ng-click="vm.search()" class="exp-input-search-icon">
                  <md-svg-icon class="exp-text-blue ic_24px" icon="ic_search"></md-svg-icon>
                </md-button>
              </div>
              <div>
                <md-button aria-label="" style="background:#8cc640;" ng-click="vm.openSearch()" class="md-button md-raised">
                  <md-svg-icon class="ic_20px" icon="ic_add"></md-svg-icon>
                </md-button>
              </div>
            </div>

            <div layout="column" flex layout-fill ng-if="searchOpen">

              <div layout="row" layout-align="space-between center">
                <div flex="25" ng-click="vm.closeSearch()">
                  <md-svg-icon class="ic_24px" icon="ic_keyboard_arrow_left"></md-svg-icon>
                </div>
                <div flex>
                  <strong>PROCURANDO CONEXÕES</strong>
                </div>
              </div>

              <!-- search for connections results -->
              <md-content style="background:transparent" flex>
                <div layout="row" layout-wrap>
                  <div flex="50" layout-align="center center" layout="row" class="exp-connection-select" ng-repeat="connection in searchList | filter:searchConnection | filter:vm.columnFilter">
                    <div ng-if="$even">
                      <md-checkbox class="md-primary" ng-model="connection.isFriend" aria-label="{{connection.name}}" ng-click="vm.requestFriend(connection)"></md-checkbox>
                    </div>
                    <div flex style="display:inline-block;overflow:hidden;text-overflow: ellipsis;" layout-margin layout-align="center center">
                      <!-- <img ng-src="{{connection.media.url}}" loading-src="img/no-avatar.png"> -->
                      <exp-avatar-img class="exp-avatar exp-avatar-48" avatar-src="{{connection.media.url}}" text="{{connection.name}}"></exp-avatar-img>
                      <br>
                      {{connection.name}}
                    </div>
                    <div ng-if="$odd">
                      <md-checkbox class="md-primary" ng-model="connection.isFriend" aria-label="{{connection.name}}" ng-click="vm.requestFriend(connection)"></md-checkbox>
                    </div>
                  </div>
                </div>
              </md-content>
            </div>
          </div>

          <!-- approve list -->
          <md-list class="exp-connections-approve" ng-if="!searchOpen && approveList.length">
            <div layout-margin><strong>SOLICITAÇÕES PENDENTES</strong></div>
            <md-item ng-repeat="connection in approveList | filter:searchConnection" ng-if="$index == approveIndex" layout="horizontal">
              <div class="md-tile-left exp-avatar exp-avatar-48">
                <!-- <img ng-src="{{connection.media.url}}" alt="{{connection.name}}"> -->
                <exp-avatar-img class="exp-avatar exp-avatar-48" avatar-src="{{connection.media.url}}" text="{{connection.name}}"></exp-avatar-img>
              </div>
              <div style="padding:4px 16px;" class="md-tile-content">
                <h3>{{connection.name}}</h3>
                <md-button aria-label="" style="background:#8cc640;width:48px;" ng-click="vm.approveConnection($index)" class="md-primary md-button md-raised">
                  <md-svg-icon class="ic_20px md-primary" icon="ic_thumb_up"></md-svg-icon>
                </md-button>
                &nbsp;
                <md-button aria-label="" style="background:#dddddd;width:48px;" ng-click="vm.denyConnection($index)" class="md-primary md-button md-raised">
                  <md-svg-icon class="ic_20px md-primary" icon="ic_thumb_down"></md-svg-icon>
                </md-button>
              </div>
              <div class="md-tile-right" style="margin:auto 0 0 0">
                <div ng-click="vm.nextApprove()">
                  <md-svg-icon class="ic_32px exp-forward-approve" icon="ic_arrow_forward"></md-svg-icon>
                </div>
              </div>
            </md-item>
          </md-list>

          <!-- connections list -->
          <div ng-if="!myConnections.length && !searchOpen" flex layout-fill layout="column" layout-align="center center">
            <div flex></div>
            <div>
              Você ainda não possui nenhuma conexão!
            </div>
            <div flex></div>
            <div flex class="exp-input-search-container">
              <input class="exp-input-search-input" placeholder="Procure por uma conexão..." name="search" ng-model="searchConnection">
              <md-button aria-label="" ng-click="vm.search()" class="exp-input-search-icon">
                <md-svg-icon class="exp-text-blue ic_24px" icon="ic_search"></md-svg-icon>
              </md-button>
            </div>
          </div>
          <md-content flex ng-if="myConnections.length > 0 && !searchOpen">
            <md-list class="exp-connections-list">
              <md-item ng-repeat="connection in myConnections | filter:searchConnection" layout="horizontal" ng-click="appController.go('app.profile', { id: '{{connection.userId}}' }, 'app.connections')">
                <md-item-content>
                  <div class="md-tile-left exp-avatar exp-avatar-48" layout-margin>
                    <!-- <img ng-src="{{connection.media.url}}" alt="{{connection.name}}"> -->
                    <exp-avatar-img class="exp-avatar exp-avatar-48" avatar-src="{{connection.media.url}}" text="{{connection.name}}"></exp-avatar-img>
                  </div>
                  <div class="md-tile-content">
                    <h3>{{connection.name}}</h3>
                    <p>
                      <md-svg-icon class="exp-connection-place ic_16px" icon="ic_place"></md-svg-icon>Toronto, CA{{connection.geo.properties.name}}
                    </p>
                  </div>
                </md-item-content>
              </md-item>
            </md-list>
          </md-content>
        </div>
      </fa-surface>
  </fa-container-surface>
</fa-view>
