<fa-view>
  <fa-surface fa-pipe-to="$page.scroll" fa-size="[undefined, true]">
    <div ng-if="!feed.length" style="" flex layout="column" layout-align="center center">
      <div flex></div>
      <div>
        Nenhum post no seu feed!
      </div>
      <div flex></div>
    </div>

    <div class="exp-feed" ng-if="feed.length" layout-fill>
      <md-card class="exp-card" ng-repeat="card in feed | orderBy:'createdAt':true">
        <div layout="row">
          <div class="exp-card-avatar-margin exp-avatar exp-avatar-48">
            <!-- <img ng-src="{{card.owner.media.url}}"> -->
            <exp-avatar-img avatar-src="{{card.owner.media.url}}" text="{{card.owner.name}}"></exp-avatar-img>
          </div>
          <div flex>
            <div class="exp-card-top" layout="row" layout-align="space-between center">
              <div class="exp-card-username" flex>{{card.owner.name}}</div>
              <div class="exp-card-time">
                <i><span am-time-ago="card.createdAt"></span></i>
                <md-svg-icon class="ic_16px" icon="ic_access_time"></md-svg-icon>
              </div>
            </div>
          </div>
        </div>
        <h3 ng-if="card.title" ng-bind="card.title"></h3>
        <p ng-if="card.text" ng-bind="card.text"></p>
        <div ng-if="card.media && card.media.url" class="exp-card-media">
          <img ng-src="{{card.media.url}}" class="md-card-image" loading-src>
          {{card.media.text}}
        </div>
        <div class="exp-feed-actions" layout="row" layout-align="space-between center">
          <div style="white-space:nowrap;" ng-click="vm.like(card)">
            <md-svg-icon class="ic_24px" icon="{{ilike( card, me ) ? 'ic_favorite' : 'ic_favorite_outline' }}"></md-svg-icon>
            {{card.countType.like.length}}
          </div>
          <div ng-click="vm.comment(card)">
            <md-svg-icon class="ic_24px" icon="ic_comment"></md-svg-icon>
          </div>
          <div ng-click="vm.share(card)">
            <md-svg-icon class="ic_24px" icon="ic_share"></md-svg-icon>
          </div>
          <div ng-click="vm.showAbuseDialog($event, card)">
            <md-svg-icon class="ic_24px" icon="ic_more_vert"></md-svg-icon>
          </div>
        </div>
        <div class="exp-feed-comments" layout="row" layout-align="center center" ng-repeat="comment in card.comments">
          <div class="exp-card-avatar-margin exp-avatar exp-avatar-32">
            <exp-avatar-img avatar-src="{{comment.owner.media.url}}" text="{{comment.owner.name}}"></exp-avatar-img>
            <!-- <img style="width:32px" ng-src="{{comment.owner.avatar}}" loading-src="img/tmp/profileImg-48px.png"> -->
          </div>
          <div flex class="exp-card-top-2">
            <span class="exp-card-comment-username" ng-bind="comment.owner.name"></span>
            {{comment.text}}
          </div>
        </div>

      </md-card>
    </div>

  </fa-surface>

</fa-view>
