<fa-container-surface fa-options="headerOptions">
  <fa-modifier fa-size="[44, 44]">
    <!-- <fa-modifier fa-align="[.5, .5]" fa-origin="[.5, .5]" fa-opacity="1 - $sidemenu.transform.get()*.01" fa-rotate-z="-$sidemenu.transform.get()*0.01"> -->
    <fa-modifier fa-align="[.5, .5]" fa-origin="[.5, .5]">
      <fa-surface fa-options="{ properties: { textAlign: 'center' } }">
        <a fa-click="$sidemenu.toggleMenu()">
          <md-svg-icon icon="ic_menu"></md-svg-icon>
          <!-- <i class="fa fa-bars"></i> -->
        </a>
      </fa-surface>
    </fa-modifier>
    <!-- <fa-modifier fa-align="[.5, .5]" fa-origin="[.5, .5]" fa-opacity="$sidemenu.transform.get()*0.01" fa-rotate-z="1-$sidemenu.transform.get()*0.01">
      <fa-surface fa-options="{ properties: { textAlign: 'center' } }">
        <a fa-click="$sidemenu.toggleMenu()">
          <md-svg-icon icon="ic_arrow_back"></md-svg-icon>
        </a>
      </fa-surface>
    </fa-modifier> -->
  </fa-modifier>

  <fa-modifier fa-size="[140, 44]" fa-align="[.5, 0]" fa-origin="[.5, 0]">
    <fa-modifier fa-align="[.5, 0]" fa-origin="[.5, 0]">
      <fa-surface fa-size="[140, 44]" fa-options="{ properties: { textAlign: 'center' } }">
        {{$page.title}}
      </fa-surface>
    </fa-modifier>
  </fa-modifier>

  <fa-modifier fa-size="[44, 44]" fa-align="[1, 0]" fa-origin="[1, 0]">
    <fa-modifier fa-translate="[-44, 0]">
      <fa-surface fa-options="{ properties: { textAlign: 'center' } }">
        <a fa-click="$sidemenu.toggleMenu()">
          s
          <!-- <i class="fa fa-search"></i> -->
        </a>
      </fa-surface>
    </fa-modifier>
    <fa-modifier>
      <fa-surface fa-options="{ properties: { textAlign: 'center' } }">
        <a fa-click="$sidemenu.toggleMenu()">
          e
          <!-- <i class="fa fa-ellipsis-v"></i> -->
        </a>
      </fa-surface>
    </fa-modifier>
  </fa-modifier>
</fa-container-surface>
