<fa-app>
  <fa-surface fa-size="[undefined, $page.statusBarMargin]" class="statusbar"></fa-surface>

  <fa-modifier fa-translate="[0, $page.statusBarMargin]">
    <ui-view name="header"></ui-view>

    <fa-modifier fa-opacity="$page.opacity.get()" fa-translate="[$page.transform.get(), 0]">
      <fa-modifier fa-translate="[0, 44]">
        <fa-scroll-view fa-pipe-from="$page.scroll" fa-options="{ paginated: false, speedLimit: 10, direction: 1 }">
          <ui-view name="content"></ui-view>
        </fa-scroll-view>
      </fa-modifier>
    </fa-modifier>

    <fa-modifier fa-align="[0, 1]" fa-origin="[1, 1]" fa-translate="[$sidemenu.transform.get() * ($sidemenu.size/100), 0]" fa-size="[$sidemenu.size, undefined]">
      <ui-view name="sidemenu"></ui-view>
    </fa-modifier>

    <!-- <ui-view name="footer"></ui-view> -->
  </fa-modifier>
</fa-app>
