<fa-view>
  <fa-container-surface fa-options="{ classes: ['padding', 'sidemenu', 'theme-experimento'] }">
    <!-- <fa-modifier fa-translate="[0, 60]">fa-translate="[0, 60]" -->
      <fa-modifier fa-translate="[0, 72]"><!-- fa-translate="[0, 124]" -->
        <fa-scroll-view fa-pipe-from="$sidemenu.eventHandler" fa-options="{ paginated: false, speedLimit: 5, direction: 1 }">
          <fa-view ng-repeat="item in items">
            <fa-modifier fa-size="item.options.size||[undefined, 44]">
              <fa-surface fa-options="item.options">
                <a ui-sref="{{item.uiSref}}" fa-pipe-to="$sidemenu.eventHandler" ng-bind="item.title"></a>
              </fa-surface>
            </fa-modifier>
          </fa-view>
        </fa-scroll-view>
      </fa-modifier>
    <!-- </fa-modifier> -->

    <fa-modifier fa-translate="[0, 0]">
      <fa-surface fa-size="[undefined, 64]" fa-options="{ classes: ['sidemenu-img'] }">
        <img src="http://placehold.it/64x64">
      </fa-surface>
      <!-- <fa-modifier fa-size="[undefined, true]" fa-translate="[0, 96]">
        <fa-surface fa-options="{ classes: ['sidemenu-title'] }">
          <h1>João Neto</h1>
        </fa-surface>
      </fa-modifier> -->
    </fa-modifier>
  </fa-surface-container>
</fa-view>
