.palette() {
  .fg(@p) when not (@p = false) {
      color: @p;
  }

  .bg(@p) when not (@p = false) {
      background-color: @p;
  }

  .-(@x: length(@themes)) when (@x > 0) {
      @themeName: e(extract(@themes, @x));
      @themeNameFg: e('@{themeName}-fg');
      &-@{themeName} {
          .fg(@@themeNameFg);
          .bg(@@themeName);
          a {
              .fg(@@paletteNameFg);
          }

          .-(@y: length(@palette)) when (@y > 0) {
              @paletteName: e(extract(@palette, @y));
              @paletteNameBg: e('@{themeName}-@{paletteName}');
              @paletteNameFg: e('@{themeName}-@{paletteName}-fg');
              &-@{paletteName} {
                  .fg(@@paletteNameFg);
                  .bg(@@paletteNameBg);
                  a {
                      .fg(@@paletteNameFg);
                  }
              }
              .-((@y - 1));
          } .-;
      }
      .-((@x - 1));
  } .-;
}

.theme {
  .palette();
}
