// http://www.google.com/design/spec/style/color.html#color-ui-color-palette

@themes: 'red', 'pink', 'purple', 'deeppurple', 'indigo', 'blue', 'lightblue', 'cyan', 'teal', 'green', 'lightgreen', 'lime', 'yellow', 'amber', 'orange', 'deeporange', 'brown', 'grey', 'bluegrey';
@palette: '50', '100', '200', '300', '400', '500', '600', '700', '800', '900', '1000', 'A100', 'A200', 'A400', 'A700';

@red: #e51c23;        @red-fg: @text-inverse;
  @red-50: #fde0dc;   @red-50-fg: @text-primary;
  @red-100: #f9bdbb;  @red-100-fg: @text-primary;
  @red-200: #f69988;  @red-200-fg: @text-primary;
  @red-300: #f36c60;  @red-300-fg: @text-primary;
  @red-400: #e84e40;  @red-400-fg: @text-primary;
  @red-500: #e51c23;  @red-500-fg: @text-inverse;
  @red-600: #dd191d;  @red-600-fg: @text-inverse;
  @red-700: #d01716;  @red-700-fg: @text-inverse;
  @red-800: #c41411;  @red-800-fg: @text-inverse;
  @red-900: #b0120a;  @red-900-fg: @text-inverse;
  @red-1000: false;   @red-1000-fg: false;
  @red-A100: #ff7997; @red-A100-fg: @text-primary;
  @red-A200: #ff5177; @red-A200-fg: @text-inverse;
  @red-A400: #ff2d6f; @red-A400-fg: @text-inverse;
  @red-A700: #e00032; @red-A700-fg: @text-inverse;

@pink: #e91e63;        @pink-fg: @text-inverse;
  @pink-50: #fce4ec;   @pink-50-fg: @text-primary;
  @pink-100: #f8bbd0;  @pink-100-fg: @text-primary;
  @pink-200: #f48fb1;  @pink-200-fg: @text-primary;
  @pink-300: #f06292;  @pink-300-fg: @text-primary;
  @pink-400: #ec407a;  @pink-400-fg: @text-primary;
  @pink-500: #e91e63;  @pink-500-fg: @text-inverse;
  @pink-600: #d81b60;  @pink-600-fg: @text-inverse;
  @pink-700: #c2185b;  @pink-700-fg: @text-inverse;
  @pink-800: #ad1457;  @pink-800-fg: @text-inverse;
  @pink-900: #880e4f;  @pink-900-fg: @text-inverse;
  @pink-1000: false;   @pink-1000-fg: false;
  @pink-A100: #ff80ab; @pink-A100-fg: @text-primary;
  @pink-A200: #ff4081; @pink-A200-fg: @text-inverse;
  @pink-A400: #f50057; @pink-A400-fg: @text-inverse;
  @pink-A700: #c51162; @pink-A700-fg: @text-inverse;

@purple: #9c27b0;        @purple-fg: @text-inverse;
  @purple-50: #f3e5f5;   @purple-50-fg: @text-primary;
  @purple-100: #e1bee7;  @purple-100-fg: @text-primary;
  @purple-200: #ce93d8;  @purple-200-fg: @text-primary;
  @purple-300: #ba68c8;  @purple-300-fg: @text-inverse;
  @purple-400: #ab47bc;  @purple-400-fg: @text-inverse;
  @purple-500: #9c27b0;  @purple-500-fg: @text-inverse;
  @purple-600: #8e24aa;  @purple-600-fg: @text-inverse;
  @purple-700: #7b1fa2;  @purple-700-fg: @text-inverse;
  @purple-800: #6a1b9a;  @purple-800-fg: @text-inverse;
  @purple-900: #4a148c;  @purple-900-fg: @text-inverse;
  @purple-1000: false;   @purple-1000-fg: false;
  @purple-A100: #ea80fc; @purple-A100-fg: @text-inverse;
  @purple-A200: #e040fb; @purple-A200-fg: @text-inverse;
  @purple-A400: #d500f9; @purple-A400-fg: @text-inverse;
  @purple-A700: #aa00ff; @purple-A700-fg: @text-inverse;

@deeppurple: #673ab7;        @deeppurple-fg: @text-inverse;
  @deeppurple-50: #ede7f6;   @deeppurple-50-fg: @text-primary;
  @deeppurple-100: #d1c4e9;  @deeppurple-100-fg: @text-primary;
  @deeppurple-200: #b39ddb;  @deeppurple-200-fg: @text-primary;
  @deeppurple-300: #9575cd;  @deeppurple-300-fg: @text-inverse;
  @deeppurple-400: #7e57c2;  @deeppurple-400-fg: @text-inverse;
  @deeppurple-500: #673ab7;  @deeppurple-500-fg: @text-inverse;
  @deeppurple-600: #5e35b1;  @deeppurple-600-fg: @text-inverse;
  @deeppurple-700: #512da8;  @deeppurple-700-fg: @text-inverse;
  @deeppurple-800: #4527a0;  @deeppurple-800-fg: @text-inverse;
  @deeppurple-900: #311b92;  @deeppurple-900-fg: @text-inverse;
  @deeppurple-1000: false;   @deeppurple-1000-fg: false;
  @deeppurple-A100: #b388ff; @deeppurple-A100-fg: @text-primary;
  @deeppurple-A200: #7c4dff; @deeppurple-A200-fg: @text-inverse;
  @deeppurple-A400: #651fff; @deeppurple-A400-fg: @text-inverse;
  @deeppurple-A700: #6200ea; @deeppurple-A700-fg: @text-inverse;

@indigo: #3f51b5;        @indigo-fg: @text-inverse;
  @indigo-50: #e8eaf6;   @indigo-50-fg: @text-primary;
  @indigo-100: #c5cae9;  @indigo-100-fg: @text-primary;
  @indigo-200: #9fa8da;  @indigo-200-fg: @text-primary;
  @indigo-300: #7986cb;  @indigo-300-fg: @text-inverse;
  @indigo-400: #5c6bc0;  @indigo-400-fg: @text-inverse;
  @indigo-500: #3f51b5;  @indigo-500-fg: @text-inverse;
  @indigo-600: #3949ab;  @indigo-600-fg: @text-inverse;
  @indigo-700: #303f9f;  @indigo-700-fg: @text-inverse;
  @indigo-800: #283593;  @indigo-800-fg: @text-inverse;
  @indigo-900: #1a237e;  @indigo-900-fg: @text-inverse;
  @indigo-1000: false;   @indigo-1000-fg: false;
  @indigo-A100: #8c9eff; @indigo-A100-fg: @text-primary;
  @indigo-A200: #536dfe; @indigo-A200-fg: @text-inverse;
  @indigo-A400: #3d5afe; @indigo-A400-fg: @text-inverse;
  @indigo-A700: #304ffe; @indigo-A700-fg: @text-inverse;

@blue: #5677fc;        @blue-fg: @text-inverse;
  @blue-50: #e7e9fd;   @blue-50-fg: @text-primary;
  @blue-100: #d0d9ff;  @blue-100-fg: @text-primary;
  @blue-200: #afbfff;  @blue-200-fg: @text-primary;
  @blue-300: #91a7ff;  @blue-300-fg: @text-primary;
  @blue-400: #738ffe;  @blue-400-fg: @text-primary;
  @blue-500: #5677fc;  @blue-500-fg: @text-inverse;
  @blue-600: #4e6cef;  @blue-600-fg: @text-inverse;
  @blue-700: #455ede;  @blue-700-fg: @text-inverse;
  @blue-800: #3b50ce;  @blue-800-fg: @text-inverse;
  @blue-900: #2a36b1;  @blue-900-fg: @text-inverse;
  @blue-1000: false;   @blue-1000-fg: false;
  @blue-A100: #a6baff; @blue-A100-fg: @text-primary;
  @blue-A200: #6889ff; @blue-A200-fg: @text-inverse;
  @blue-A400: #4d73ff; @blue-A400-fg: @text-inverse;
  @blue-A700: #4d69ff; @blue-A700-fg: @text-inverse;

@lightblue: #03a9f4;        @lightblue-fg: @text-inverse;
  @lightblue-50: #e1f5fe;   @lightblue-50-fg: @text-primary;
  @lightblue-100: #b3e5fc;  @lightblue-100-fg: @text-primary;
  @lightblue-200: #81d4fa;  @lightblue-200-fg: @text-primary;
  @lightblue-300: #4fc3f7;  @lightblue-300-fg: @text-primary;
  @lightblue-400: #29b6f6;  @lightblue-400-fg: @text-primary;
  @lightblue-500: #03a9f4;  @lightblue-500-fg: @text-inverse;
  @lightblue-600: #039be5;  @lightblue-600-fg: @text-inverse;
  @lightblue-700: #0288d1;  @lightblue-700-fg: @text-inverse;
  @lightblue-800: #0277bd;  @lightblue-800-fg: @text-inverse;
  @lightblue-900: #01579b;  @lightblue-900-fg: @text-inverse;
  @lightblue-1000: false;   @lightblue-1000-fg: false;
  @lightblue-A100: #80d8ff; @lightblue-A100-fg: @text-primary;
  @lightblue-A200: #40c4ff; @lightblue-A200-fg: @text-primary;
  @lightblue-A400: #00b0ff; @lightblue-A400-fg: @text-primary;
  @lightblue-A700: #0091ea; @lightblue-A700-fg: @text-inverse;

@cyan: #00bcd4;        @cyan-fg: @text-inverse;
  @cyan-50: #e0f7fa;   @cyan-50-fg: @text-primary;
  @cyan-100: #b2ebf2;  @cyan-100-fg: @text-primary;
  @cyan-200: #80deea;  @cyan-200-fg: @text-primary;
  @cyan-300: #4dd0e1;  @cyan-300-fg: @text-primary;
  @cyan-400: #26c6da;  @cyan-400-fg: @text-primary;
  @cyan-500: #00bcd4;  @cyan-500-fg: @text-inverse;
  @cyan-600: #00acc1;  @cyan-600-fg: @text-inverse;
  @cyan-700: #0097a7;  @cyan-700-fg: @text-inverse;
  @cyan-800: #00838f;  @cyan-800-fg: @text-inverse;
  @cyan-900: #006064;  @cyan-900-fg: @text-inverse;
  @cyan-1000: false;   @cyan-1000-fg: false;
  @cyan-A100: #84ffff; @cyan-A100-fg: @text-primary;
  @cyan-A200: #18ffff; @cyan-A200-fg: @text-primary;
  @cyan-A400: #00e5ff; @cyan-A400-fg: @text-primary;
  @cyan-A700: #00b8d4; @cyan-A700-fg: @text-primary;

@teal: #009688;        @teal-fg: @text-inverse;
  @teal-50: #e0f2f1;   @teal-50-fg: @text-primary;
  @teal-100: #b2dfdb;  @teal-100-fg: @text-primary;
  @teal-200: #80cbc4;  @teal-200-fg: @text-primary;
  @teal-300: #4db6ac;  @teal-300-fg: @text-primary;
  @teal-400: #26a69a;  @teal-400-fg: @text-primary;
  @teal-500: #009688;  @teal-500-fg: @text-inverse;
  @teal-600: #00897b;  @teal-600-fg: @text-inverse;
  @teal-700: #00796b;  @teal-700-fg: @text-inverse;
  @teal-800: #00695c;  @teal-800-fg: @text-inverse;
  @teal-900: #004d40;  @teal-900-fg: @text-inverse;
  @teal-1000: false;   @teal-1000-fg: false;
  @teal-A100: #a7ffeb; @teal-A100-fg: @text-primary;
  @teal-A200: #64ffda; @teal-A200-fg: @text-primary;
  @teal-A400: #1de9b6; @teal-A400-fg: @text-primary;
  @teal-A700: #00bfa5; @teal-A700-fg: @text-primary;

@green: #259b24;        @green-fg: @text-inverse;
  @green-50: #d0f8ce;   @green-50-fg: @text-primary;
  @green-100: #a3e9a4;  @green-100-fg: @text-primary;
  @green-200: #72d572;  @green-200-fg: @text-primary;
  @green-300: #42bd41;  @green-300-fg: @text-primary;
  @green-400: #2baf2b;  @green-400-fg: @text-primary;
  @green-500: #259b24;  @green-500-fg: @text-inverse;
  @green-600: #0a8f08;  @green-600-fg: @text-inverse;
  @green-700: #0a7e07;  @green-700-fg: @text-inverse;
  @green-800: #056f00;  @green-800-fg: @text-inverse;
  @green-900: #0d5302;  @green-900-fg: @text-inverse;
  @green-1000: false;   @green-1000-fg: false;
  @green-A100: #a2f78d; @green-A100-fg: @text-primary;
  @green-A200: #5af158; @green-A200-fg: @text-primary;
  @green-A400: #14e715; @green-A400-fg: @text-primary;
  @green-A700: #12c700; @green-A700-fg: @text-primary;

@lightgreen: #8bc34a;        @lightgreen-fg: @text-primary;
  @lightgreen-50: #f1f8e9;   @lightgreen-50-fg: @text-primary;
  @lightgreen-100: #dcedc8;  @lightgreen-100-fg: @text-primary;
  @lightgreen-200: #c5e1a5;  @lightgreen-200-fg: @text-primary;
  @lightgreen-300: #aed581;  @lightgreen-300-fg: @text-primary;
  @lightgreen-400: #9ccc65;  @lightgreen-400-fg: @text-primary;
  @lightgreen-500: #8bc34a;  @lightgreen-500-fg: @text-primary;
  @lightgreen-600: #7cb342;  @lightgreen-600-fg: @text-primary;
  @lightgreen-700: #689f38;  @lightgreen-700-fg: @text-primary;
  @lightgreen-800: #558b2f;  @lightgreen-800-fg: @text-inverse;
  @lightgreen-900: #33691e;  @lightgreen-900-fg: @text-inverse;
  @lightgreen-1000: false;   @lightgreen-1000-fg: false;
  @lightgreen-A100: #ccff90; @lightgreen-A100-fg: @text-primary;
  @lightgreen-A200: #b2ff59; @lightgreen-A200-fg: @text-primary;
  @lightgreen-A400: #76ff03; @lightgreen-A400-fg: @text-primary;
  @lightgreen-A700: #64dd17; @lightgreen-A700-fg: @text-primary;

@lime: #cddc39;        @lime-fg: @text-primary;
  @lime-50: #f9fbe7;   @lime-50-fg: @text-primary;
  @lime-100: #f0f4c3;  @lime-100-fg: @text-primary;
  @lime-200: #e6ee9c;  @lime-200-fg: @text-primary;
  @lime-300: #dce775;  @lime-300-fg: @text-primary;
  @lime-400: #d4e157;  @lime-400-fg: @text-primary;
  @lime-500: #cddc39;  @lime-500-fg: @text-primary;
  @lime-600: #c0ca33;  @lime-600-fg: @text-primary;
  @lime-700: #afb42b;  @lime-700-fg: @text-primary;
  @lime-800: #9e9d24;  @lime-800-fg: @text-primary;
  @lime-900: #827717;  @lime-900-fg: @text-inverse;
  @lime-1000: false;   @lime-1000-fg: false;
  @lime-A100: #f4ff81; @lime-A100-fg: @text-primary;
  @lime-A200: #eeff41; @lime-A200-fg: @text-primary;
  @lime-A400: #c6ff00; @lime-A400-fg: @text-primary;
  @lime-A700: #aeea00; @lime-A700-fg: @text-primary;

@yellow: #ffeb3b;        @yellow-fg: @text-primary;
  @yellow-50: #fffde7;   @yellow-50-fg: @text-primary;
  @yellow-100: #fff9c4;  @yellow-100-fg: @text-primary;
  @yellow-200: #fff59d;  @yellow-200-fg: @text-primary;
  @yellow-300: #fff176;  @yellow-300-fg: @text-primary;
  @yellow-400: #ffee58;  @yellow-400-fg: @text-primary;
  @yellow-500: #ffeb3b;  @yellow-500-fg: @text-primary;
  @yellow-600: #fdd835;  @yellow-600-fg: @text-primary;
  @yellow-700: #fbc02d;  @yellow-700-fg: @text-primary;
  @yellow-800: #f9a825;  @yellow-800-fg: @text-primary;
  @yellow-900: #f57f17;  @yellow-900-fg: @text-primary;
  @yellow-1000: false;   @yellow-1000-fg: false;
  @yellow-A100: #ffff8d; @yellow-A100-fg: @text-primary;
  @yellow-A200: #ffff00; @yellow-A200-fg: @text-primary;
  @yellow-A400: #ffea00; @yellow-A400-fg: @text-primary;
  @yellow-A700: #ffd600; @yellow-A700-fg: @text-primary;

@amber: #ffc107;        @amber-fg: @text-primary;
  @amber-50: #fff8e1;   @amber-50-fg: @text-primary;
  @amber-100: #ffecb3;  @amber-100-fg: @text-primary;
  @amber-200: #ffe082;  @amber-200-fg: @text-primary;
  @amber-300: #ffd54f;  @amber-300-fg: @text-primary;
  @amber-400: #ffca28;  @amber-400-fg: @text-primary;
  @amber-500: #ffc107;  @amber-500-fg: @text-primary;
  @amber-600: #ffb300;  @amber-600-fg: @text-primary;
  @amber-700: #ffa000;  @amber-700-fg: @text-primary;
  @amber-800: #ff8f00;  @amber-800-fg: @text-primary;
  @amber-900: #ff6f00;  @amber-900-fg: @text-primary;
  @amber-1000: false;   @amber-1000-fg: false;
  @amber-A100: #ffe57f; @amber-A100-fg: @text-primary;
  @amber-A200: #ffd740; @amber-A200-fg: @text-primary;
  @amber-A400: #ffc400; @amber-A400-fg: @text-primary;
  @amber-A700: #ffab00; @amber-A700-fg: @text-primary;

@orange: #ff9800;        @orange-fg: @text-primary;
  @orange-50: #fff3e0;   @orange-50-fg: @text-primary;
  @orange-100: #ffe0b2;  @orange-100-fg: @text-primary;
  @orange-200: #ffcc80;  @orange-200-fg: @text-primary;
  @orange-300: #ffb74d;  @orange-300-fg: @text-primary;
  @orange-400: #ffa726;  @orange-400-fg: @text-primary;
  @orange-500: #ff9800;  @orange-500-fg: @text-primary;
  @orange-600: #fb8c00;  @orange-600-fg: @text-primary;
  @orange-700: #f57c00;  @orange-700-fg: @text-primary;
  @orange-800: #ef6c00;  @orange-800-fg: @text-inverse;
  @orange-900: #e65100;  @orange-900-fg: @text-inverse;
  @orange-1000: false;   @orange-1000-fg: false;
  @orange-A100: #ffd180; @orange-A100-fg: @text-primary;
  @orange-A200: #ffab40; @orange-A200-fg: @text-primary;
  @orange-A400: #ff9100; @orange-A400-fg: @text-primary;
  @orange-A700: #ff6d00; @orange-A700-fg: @text-primary;

@deeporange: #ff5722;        @deeporange-fg: @text-inverse;
  @deeporange-50: #fbe9e7;   @deeporange-50-fg: @text-primary;
  @deeporange-100: #ffccbc;  @deeporange-100-fg: @text-primary;
  @deeporange-200: #ffab91;  @deeporange-200-fg: @text-primary;
  @deeporange-300: #ff8a65;  @deeporange-300-fg: @text-primary;
  @deeporange-400: #ff7043;  @deeporange-400-fg: @text-primary;
  @deeporange-500: #ff5722;  @deeporange-500-fg: @text-inverse;
  @deeporange-600: #f4511e;  @deeporange-600-fg: @text-inverse;
  @deeporange-700: #e64a19;  @deeporange-700-fg: @text-inverse;
  @deeporange-800: #d84315;  @deeporange-800-fg: @text-inverse;
  @deeporange-900: #bf360c;  @deeporange-900-fg: @text-inverse;
  @deeporange-1000: false;   @deeporange-1000-fg: false;
  @deeporange-A100: #ff9e80; @deeporange-A100-fg: @text-primary;
  @deeporange-A200: #ff6e40; @deeporange-A200-fg: @text-primary;
  @deeporange-A400: #ff3d00; @deeporange-A400-fg: @text-inverse;
  @deeporange-A700: #dd2c00; @deeporange-A700-fg: @text-inverse;

@brown: #795548;       @brown-fg: @text-inverse;
  @brown-50: #efebe9;  @brown-50-fg: @text-primary;
  @brown-100: #d7ccc8; @brown-100-fg: @text-primary;
  @brown-200: #bcaaa4; @brown-200-fg: @text-primary;
  @brown-300: #a1887f; @brown-300-fg: @text-inverse;
  @brown-400: #8d6e63; @brown-400-fg: @text-inverse;
  @brown-500: #795548; @brown-500-fg: @text-inverse;
  @brown-600: #6d4c41; @brown-600-fg: @text-inverse;
  @brown-700: #5d4037; @brown-700-fg: @text-inverse;
  @brown-800: #4e342e; @brown-800-fg: @text-inverse;
  @brown-900: #3e2723; @brown-900-fg: @text-inverse;
  @brown-1000: false;  @brown-1000-fg: false;
  @brown-A100: false;  @brown-A100-fg: false;
  @brown-A200: false;  @brown-A200-fg: false;
  @brown-A400: false;  @brown-A400-fg: false;
  @brown-A700: false;  @brown-A700-fg: false;

@grey: #9e9e9e;        @grey-fg: @text-primary;
  @grey-50: #fafafa;   @grey-50-fg: @text-primary;
  @grey-100: #f5f5f5;  @grey-100-fg: @text-primary;
  @grey-200: #eeeeee;  @grey-200-fg: @text-primary;
  @grey-300: #e0e0e0;  @grey-300-fg: @text-primary;
  @grey-400: #bdbdbd;  @grey-400-fg: @text-primary;
  @grey-500: #9e9e9e;  @grey-500-fg: @text-primary;
  @grey-600: #757575;  @grey-600-fg: @text-inverse;
  @grey-700: #616161;  @grey-700-fg: @text-inverse;
  @grey-800: #424242;  @grey-800-fg: @text-inverse;
  @grey-900: #212121;  @grey-900-fg: @text-inverse;
  @grey-1000: #000000; @grey-1000-fg: @text-inverse;
  @grey-A100: #ffffff; @grey-A100-fg: @text-primary;
  @grey-A200: false;   @grey-A200-fg: false;
  @grey-A400: false;   @grey-A400-fg: false;
  @grey-A700: false;   @grey-A700-fg: false;

@bluegrey: #607d8b;        @bluegrey-fg: @text-inverse;
  @bluegrey-50: #eceff1;   @bluegrey-50-fg: @text-primary;
  @bluegrey-100: #cfd8dc;  @bluegrey-100-fg: @text-primary;
  @bluegrey-200: #b0bec5;  @bluegrey-200-fg: @text-primary;
  @bluegrey-300: #90a4ae;  @bluegrey-300-fg: @text-primary;
  @bluegrey-400: #78909c;  @bluegrey-400-fg: @text-inverse;
  @bluegrey-500: #607d8b;  @bluegrey-500-fg: @text-inverse;
  @bluegrey-600: #546e7a;  @bluegrey-600-fg: @text-inverse;
  @bluegrey-700: #455a64;  @bluegrey-700-fg: @text-inverse;
  @bluegrey-800: #37474f;  @bluegrey-800-fg: @text-inverse;
  @bluegrey-900: #263238;  @bluegrey-900-fg: @text-inverse;
  @bluegrey-1000: false;   @bluegrey-1000-fg: false;
  @bluegrey-A100: false;   @bluegrey-A100-fg: false;
  @bluegrey-A200: false;   @bluegrey-A200-fg: false;
  @bluegrey-A400: false;   @bluegrey-A400-fg: false;
  @bluegrey-A700: false;   @bluegrey-A700-fg: false;

@primary: @indigo;
@success: @green;
@info: @lightblue;
@warning: @deeporange;
@danger: @red;

@text-inverse: #ffffff;
@text-primary: rgba(0, 0, 0, 0.87);
