fa-app {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.statusbar {
  z-index: 100;
  background: #ffffff;
}
.header {
  z-index: 10;
  color: #034282;
  background: #ffffff;
}
.header a {
  color: #034282;
}
.sidemenu {
  z-index: 100;
  background: #ffffff;
}
.header md-svg-icon {
  width: 24px;
  height: 24px;
}
.header md-svg-icon svg {
  margin-top: 6px;
  width: 24px;
  height: 24px;
}
h1, h2, h3, h4, h5, h6 {
  color: #265d95;
}
.theme-experimento h1,
.theme-experimento h2,
.theme-experimento h3,
.theme-experimento h4,
.theme-experimento h5,
.theme-experimento h6 {
  color: #ffffff;
}
.theme-experimento {
  color: #ffffff;
  background-color: #265d95;
}
.theme-experimento a {
  color: #ffffff;
}
