html {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-backface-visibility: hidden;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

html, body {
  overflow: hidden;
}

.icon {
  fill: currentcolor;
}

.full-screen {
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
.full-height,
.full-height .fa-surface {
    height: 100%;
}
.full-width,
.full-width .fa-surface {
    width: 100%;
}

md-content {
  background-color: inherit !important;
}

/*
.md-icon-container md-inline-grid-icon {
    display: inline-block;
    height: 48px;
    width: 48px;
}
md-inline-grid-icon[icon=hangout] {
    background: url("../images/app/ic_business_48px.svg");
}
*/

@font-face {
    font-family: 'PillGothic600mgThin';
    src: url('fonts/PillGothic600mgThin.eot');
    src: url('fonts/PillGothic600mgThin.eot') format('embedded-opentype'),
         url('fonts/PillGothic600mgThin.woff2') format('woff2'),
         url('fonts/PillGothic600mgThin.woff') format('woff'),
         url('fonts/PillGothic600mgThin.ttf') format('truetype'),
         url('fonts/PillGothic600mgThin.svg#PillGothic600mgThin') format('svg');
}
@font-face {
    font-family: 'PillGothic600mgSemibd';
    src: url('fonts/PillGothic600mgSemibd.eot');
    src: url('fonts/PillGothic600mgSemibd.eot') format('embedded-opentype'),
         url('fonts/PillGothic600mgSemibd.woff2') format('woff2'),
         url('fonts/PillGothic600mgSemibd.woff') format('woff'),
         url('fonts/PillGothic600mgSemibd.ttf') format('truetype'),
         url('fonts/PillGothic600mgSemibd.svg#PillGothic600mgSemibd') format('svg');
}
@font-face {
    font-family: 'PillGothic600mgRegular';
    src: url('fonts/PillGothic600mgRegular.eot');
    src: url('fonts/PillGothic600mgRegular.eot') format('embedded-opentype'),
         url('fonts/PillGothic600mgRegular.woff2') format('woff2'),
         url('fonts/PillGothic600mgRegular.woff') format('woff'),
         url('fonts/PillGothic600mgRegular.ttf') format('truetype'),
         url('fonts/PillGothic600mgRegular.svg#PillGothic600mgRegular') format('svg');
}
@font-face {
    font-family: 'PillGothic600mgLight';
    src: url('fonts/PillGothic600mgLight.eot');
    src: url('fonts/PillGothic600mgLight.eot') format('embedded-opentype'),
         url('fonts/PillGothic600mgLight.woff2') format('woff2'),
         url('fonts/PillGothic600mgLight.woff') format('woff'),
         url('fonts/PillGothic600mgLight.ttf') format('truetype'),
         url('fonts/PillGothic600mgLight.svg#PillGothic600mgLight') format('svg');
}
@font-face {
    font-family: 'PillGothic600mgBold';
    src: url('fonts/PillGothic600mgBold.eot');
    src: url('fonts/PillGothic600mgBold.eot') format('embedded-opentype'),
         url('fonts/PillGothic600mgBold.woff2') format('woff2'),
         url('fonts/PillGothic600mgBold.woff') format('woff'),
         url('fonts/PillGothic600mgBold.ttf') format('truetype'),
         url('fonts/PillGothic600mgBold.svg#PillGothic600mgBold') format('svg');
}
@font-face {
    font-family: 'PillGothic300mgThin';
    src: url('fonts/PillGothic300mgThin.eot');
    src: url('fonts/PillGothic300mgThin.eot') format('embedded-opentype'),
         url('fonts/PillGothic300mgThin.woff2') format('woff2'),
         url('fonts/PillGothic300mgThin.woff') format('woff'),
         url('fonts/PillGothic300mgThin.ttf') format('truetype'),
         url('fonts/PillGothic300mgThin.svg#PillGothic300mgThin') format('svg');
}
@font-face {
    font-family: 'PillGothic300mgSemibd';
    src: url('fonts/PillGothic300mgSemibd.eot');
    src: url('fonts/PillGothic300mgSemibd.eot') format('embedded-opentype'),
         url('fonts/PillGothic300mgSemibd.woff2') format('woff2'),
         url('fonts/PillGothic300mgSemibd.woff') format('woff'),
         url('fonts/PillGothic300mgSemibd.ttf') format('truetype'),
         url('fonts/PillGothic300mgSemibd.svg#PillGothic300mgSemibd') format('svg');
}
@font-face {
    font-family: 'PillGothic300mgRegular';
    src: url('fonts/PillGothic300mgRegular.eot');
    src: url('fonts/PillGothic300mgRegular.eot') format('embedded-opentype'),
         url('fonts/PillGothic300mgRegular.woff2') format('woff2'),
         url('fonts/PillGothic300mgRegular.woff') format('woff'),
         url('fonts/PillGothic300mgRegular.ttf') format('truetype'),
         url('fonts/PillGothic300mgRegular.svg#PillGothic300mgRegular') format('svg');
}
@font-face {
    font-family: 'PillGothic300mgLight';
    src: url('fonts/PillGothic300mgLight.eot');
    src: url('fonts/PillGothic300mgLight.eot') format('embedded-opentype'),
         url('fonts/PillGothic300mgLight.woff2') format('woff2'),
         url('fonts/PillGothic300mgLight.woff') format('woff'),
         url('fonts/PillGothic300mgLight.ttf') format('truetype'),
         url('fonts/PillGothic300mgLight.svg#PillGothic300mgLight') format('svg');
}
@font-face {
    font-family: 'PillGothic300mgBold';
    src: url('fonts/PillGothic300mgBold.eot');
    src: url('fonts/PillGothic300mgBold.eot') format('embedded-opentype'),
         url('fonts/PillGothic300mgBold.woff2') format('woff2'),
         url('fonts/PillGothic300mgBold.woff') format('woff'),
         url('fonts/PillGothic300mgBold.ttf') format('truetype'),
         url('fonts/PillGothic300mgBold.svg#PillGothic300mgBold') format('svg');
}

button, select, html, textarea, input {
  font-family: PillGothic300mgSemibd, Roboto, 'Helvetica Neue', sans-serif; }

button {
  font-family: PillGothic300mgSemibd, Roboto, 'Helvetica Neue', sans-serif; }

.exp-description {
    font-family: PillGothic300mgLight, Roboto, 'Helvetica Neue', sans-serif; }
}

md-bottom-sheet .md-subheader {
    background-color: transparent;
    font-family: PillGothic300mgSemibd, Roboto, 'Helvetica Neue', sans-serif;
    line-height: 56px;
    padding: 0;
    white-space: nowrap;
}

button,
button:hover,
button:focus,
button.md-button,
button.md-button:hover,
button.md-button:focus,
md-button,
md-button:hover,
md-button:focus,
md-button.md-button,
md-button.md-button:hover,
md-button.md-button:focus {
  box-shadow: none !important;
}

md-input-group.long > input {
  width: 274px;
}

md-svg-icon.ic_12px svg {
  width: 12px;
  height: 12px;
}

md-svg-icon.ic_16px svg {
  width: 16px;
  height: 16px;
}

md-svg-icon.ic_20px svg {
  width: 20px;
  height: 20px;
}

md-svg-icon.ic_24px svg {
  width: 24px;
  height: 24px;
}

md-svg-icon.ic_32px svg {
  width: 32px;
  height: 32px;
}

md-svg-icon.ic_48px svg {
  width: 48px;
  height: 48px;
}

md-svg-icon.ic_64px svg {
  width: 64px;
  height: 64px;
}

button > md-svg-icon svg {
  width: 16px;
  height: 16px;
}

button > md-svg-icon {
  line-height: 16px;
  vertical-align: bottom;
}

md-svg-icon {
  /*margin: 5px auto auto;*/
  padding: 0;
  display: inline-block;
  background-repeat: no-repeat no-repeat;
  pointer-events: none;
}

.exp-title-right {
  margin: 0px 16px 0px 0px;
  padding-left: 6px;
}

.exp-btn-fb-login {
  font-size: 18px;
  font-style: italic;
  text-transform: none;
  text-align: left;
  width: 274px;
}
.exp-btn-fb-login > div.icon-wrap {
  display: inline-block;
  width: 42px;
  border-right: rgba(255,255,255,.3) 1px solid;
  margin: 0px 16px 0px 0px;
  padding-left: 6px;
}

.exp-btn-blue.md-button.md-default-theme.md-primary.md-raised,
.exp-btn-blue.md-button.md-default-theme.md-primary.md-fab,
.exp-btn-blue.md-button.md-default-theme.md-primary.md-raised:not([disabled]):hover,
.exp-btn-blue.md-button.md-default-theme.md-primary.md-raised:not([disabled]):focus,
.exp-btn-blue.md-button.md-default-theme.md-primary.md-fab:not([disabled]):hover,
.exp-btn-blue.md-button.md-default-theme.md-primary.md-fab:not([disabled]):focus {
  background: #034282;
  color: #ffffff;
}
.exp-btn-gray.md-button.md-default-theme.md-primary.md-raised,
.exp-btn-gray.md-button.md-default-theme.md-primary.md-fab,
.exp-btn-gray.md-button.md-default-theme.md-primary.md-raised:not([disabled]):hover,
.exp-btn-gray.md-button.md-default-theme.md-primary.md-raised:not([disabled]):focus,
.exp-btn-gray.md-button.md-default-theme.md-primary.md-fab:not([disabled]):hover,
.exp-btn-gray.md-button.md-default-theme.md-primary.md-fab:not([disabled]):focus {
  background: #cccccc;
}

.margin-footer-toolbar {
  padding-bottom: 64px;
}

md-dialog > md-toolbar {
  box-shadow: none;
}

/**
 * search input
 */
.exp-input-search-container {
  position:relative;
  padding:0;
  margin:0;
}
.exp-input-search-input {
  height:20px;
  margin:0;
  padding-left: 30px;
  z-index: 0;
}
.exp-input-search-icon {
  position:absolute;
  bottom:4px;
  right:0;
  z-index: 1;
  /*width:10px;*/
  /*height:10px;*/
}

/**
 * sidenav
 */
md-sidenav.exp-sidenav {
  /*background: #265d95 linear-gradient(-45deg, transparent 50%, rgba(255, 255, 255, 0.1) 50%);*/
  background: #265d95;
  /*-webkit-overflow-scrolling: touch;*/
}

.exp-sidenav .exp-sidenav-inner {
  padding: 16px;
  background-color: transparent;
}
.exp-sidenav .exp-container-green {
  color: #ffffff;
  background-color: #8BC34A;
  /*background-color: #8cc640; material color palette */
}
.exp-sidenav .exp-container-green a,
.exp-sidenav .exp-container-green button {
  color: #ffffff;
}
.exp-sidenav .menu-item {
  background: none;
  border-width: 0;
  cursor: pointer;
  display: block;
  color: #ffffff;
  color: #333;
  font-size: inherit;
  height: 42px;
  line-height: 42px;
  max-height: 42px;
  opacity: 1;
  margin: 0;
  outline: none;
  padding-left: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  width: 100%;
  z-index: 1;
}
.exp-sidenav .menu-item:focus {
  font-weight: bold;
}
.exp-sidenav .menu-item.ng-hide {
  max-height: 0;
  opacity: 0;
}
.exp-sidenav .menu-item > md-svg-icon {
  margin: auto 8px auto auto;
}
.exp-sidenav .menu-item > md-svg-icon > * {
  vertical-align: middle;
}
.exp-sidenav .exp-sidenav-prof {
  margin-bottom: 16px;
  color: #ffffff;
}
.exp-sidenav .exp-sidenav-logout a {
  color: #ffffff;
  text-decoration: none;
  padding-left: 0;
}
.exp-sidenav .exp-post {
  color: #ffffff;
  line-height: 24px;
  margin-bottom: 8px;
  opacity: 0.6;
  filter: alpha(opacity=60);
}

/**
 * login
 */
.exp-login {
  overflow: hidden;
  color: #ffffff;
  width: 100%;
}
.exp-login md-input-container {
  background: rgba(255, 255, 255, .92);
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 4px;
}
.exp-login a {
  color: #ffffff;
  text-decoration: none;
  text-shadow: 1px 1px #000000;
}
.exp-login button.md-button {
  width: 100% !important;
}
.exp-login .exp-logo {
  /*position: fixed;*/
  /*top: 16px;*/
  width: 100%;
  text-align: center;
  /*margin-top: 40px;*/
  /*margin-bottom: -40px;*/
}
.exp-login .exp-logo img {
  height: 120px;
}
.exp-login .exp-footer {
  /*position: fixed;*/
  /*bottom: 0px;*/
}
.exp-login .md-input-group, .exp-login md-input-group {
   margin: 0;
}
@media only screen and (max-device-height: 500px) {
  .exp-login .exp-logo img {
    height: 86px;
  }
}

/**
 * signup
 */
 @media only screen and (max-device-height: 500px) {
  .exp-signup div {
    font-size: 12px;
  }
}
.exp-signup .md-input-group > input, .exp-signup md-input-group > input {
  width: 100%;
}
.exp-signup .md-switch-thumb, .exp-signup md-radio-button {
  display: inline;
}


/**
 * dialog
 */
.exp-dialog-h2 {
  font-size: 16px;
  margin: 0;
  text-align: center;
  color: #034282;
}
md-dialog {
  min-width: 240px;
  max-width: 90%;
  max-height: 90%;
}

/**
 * friends
 */
.exp-feed {
  overflow: auto;
  background-color: #F5F5F5;
}
.exp-feed md-card {
  /*margin: 0;*/
  box-shadow: none;
}
.exp-feed md-card.exp-card {
  background-color: #F5F5F5;
}
.exp-feed .exp-card-avatar img {
  height: 48px;
  width: 48px;
}
.exp-feed .exp-last-card {
  height: 65px;
}
.exp-feed .exp-card-top {
  color: #034282;
  font-size: 16px;
  line-height: 16px;
  height: 48px;
  max-height: 48px;
}
.exp-card-top-2 {
}
.exp-card-avatar-margin {
  margin-right: 8px;
}
.exp-feed .exp-card-username {
  display: block;
  /*display: -webkit-box;*/
  overflow: hidden;
  max-height: 48px;
  line-height: 16px;
  font-size: 16px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
.exp-feed .exp-card-top .exp-card-time {
  color: #666666;
  font-size: 12px;
  white-space: nowrap;
}
.exp-feed .exp-card-top .exp-card-time md-svg-icon {
  top: 3px;
  position: relative;
  vertical-align: baseline;
}
.exp-feed md-svg-icon {
  vertical-align: middle;
}
.exp-feed img[src='Error.src']{
  display: none;
}
.exp-feed .exp-feed-actions {
  color: #034282;
}
.exp-feed .exp-feed-comments {
  margin-bottom: 8px;
}
.exp-feed .exp-feed-comments .exp-card-avatar img {
  height: 42px;
  width: 42px;
}
.exp-feed .exp-feed-comments .exp-card-top {
  color: #666666;
  display: block;
  display: -webkit-box;
  overflow: hidden;
  font-size: 14px;
  line-height: 14px;
  height: 43px;
  max-height: 43px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
.exp-feed .exp-feed-comments .exp-card-top-2 .exp-card-comment-username {
  color: #034282;
}

/**
 * friends
 */
.exp-friends {
  overflow: hidden;
}
.exp-friends div.exp-highlight {
  color: #ffffff;
  text-decoration: none;
  text-shadow: 1px 1px #000000;
  padding: 0 40px;
  text-align: center;
}
.exp-friends .exp-top-name {
  text-align: center;
  color: #034282;
  background:#ffffff;
}
.exp-friends .exp-consultor {
  color: #ffffff;
  background: #265d95;
  padding: 8px;
}

md-content.md-indigo-theme.exp-friends-cont {
  padding: 8px;
  margin: auto 8px;
  z-index: 1;
}
.md-button.md-indigo-theme.md-raised {
  background-color: #034282;
  color: #ffffff;
}
.exp-friends-list h3 {
  color: #333;
}

md-content.md-green-theme.exp-friends-cont {
  padding: 8px;
  margin: auto 8px;
  z-index: 1;
}
.md-button.md-green-theme.md-raised {
  background-color: #8cc640;
  color: #ffffff;
}
.exp-friends-list h3 {
  color: #333;
}


/**
 * post comments
 */
.exp-comments {
  overflow: hidden;
}
.exp-comments .exp-comments-cont {
  margin-bottom: 100px;
}
.exp-comments-list md-item > div {
  margin-top: 8px;
}
.exp-comments textarea.exp-post-field {
  width: 100%;
  height: 100px;
  min-height: 100px;
  border: none;
  resize: none;
}
.exp-comments .exp-comment-text {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
}

/**
 * connections
 */
.exp-connections .exp-connections-search {
  color: #ffffff;
  /*background: #265d95 linear-gradient(-45deg, transparent 50%, rgba(255, 255, 255, 0.1) 50%);*/
  background: #265d95;
  background-repeat: no-repeat;
  background-size: 200px 200px;
  padding: 8px;
}
.exp-connections .exp-connections-search md-input-group {
  margin: 0;
  padding: 0;
}
.exp-connections .exp-connections-search button {
  margin: 4px 0 0 8px;
  width: 36px;
  height: 32px;
}
.exp-connections .exp-connections-search button.md-button,
.exp-connections .exp-connections-search button.md-button:hover,
.exp-connections .exp-connections-search button.md-button:focus {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -webkit-transform: none;
  transform: none;
}
.exp-connections .exp-connections-search input {
  margin: 4px auto;
  background-color: #ffffff;
  width: 100%;
  height: 32px;
  padding: 4px;
  border-radius: 3px;
  border: 0;
}
.exp-connections .exp-connections-list md-item {
  background-color: #F5F5F5;
  border-bottom: 1px #dddddd solid;
}
.exp-connections .exp-connections-list md-item p {
  line-height: 1;
}
.exp-connections .exp-connections-list h3 {
  color: #034282;
}
.exp-connections .exp-connections-list .exp-connection-place {
  vertical-align: middle;
  color: #034282;
}
.exp-connections .exp-connections-approve {
  color: #034282;
}
.exp-connections .exp-connections-approve .exp-forward-approve {
  color: rgba(7, 66, 131, .5);
}
.exp-connection-select {
  text-align: center;
}
.exp-connection-select md-checkbox {
  margin: 0;
  padding: 0;
  /*display: inline-block;*/
}
.exp-connection-select md-checkbox .md-container {

}
.exp-connection-select md-checkbox.md-default-theme:not([disabled]).md-primary .md-icon,
.exp-connection-select md-checkbox.md-default-theme .md-icon {
  border-color: #ffffff;
  border-radius: 18px;
}

/**
 * footer toolbar
 */
.exp-footer-toolbar {
  /*position: static;*/
  /*botton: 0;*/
  height: 64px;
  line-height: 72px;
}
.exp-footer-toolbar .tab {
  color: rgba(255,255,255,.5);
}
.exp-footer-toolbar .tab.active {
  color: #ffffff;
  background-color: #8cc640;
}

/**
 * footer
 */
.exp-footer {
  width: 100%;
  font-size: 12px;
}
.exp-footer .exp-footer-politics {
  margin: 10px auto;
  width: 282px;
}

/**
 * box colors
 */
.exp-color-box {
  width: 20%;
  height: 10px;
  margin: 0;
  padding: 0;
  float: left;
}
.exp-color1 {
  background-color: #558B2F;
}
.exp-color2 {
  background-color: #EF6C00;
}
.exp-color3 {
  background-color: #E91E63;
}
.exp-color4 {
  background-color: #9C27B0;
}
.exp-color5 {
  background-color: #3F51B5;
}

/**
 * toolbar
 */
md-toolbar.exp-toolbar {
  /*padding-top: 16px;*/
  background: #ffffff;
  height: 54px;
  min-height: 54px;
  /*color: #3F51B5;*/
  color: #265d95;
  box-shadow: 0 1px 6px rgba(0,0,0,.2);
}
md-toolbar.exp-toolbar .exp-header-logo {
  text-align: center;
}
md-toolbar.exp-toolbar .exp-header-logo img {
  width: 42px;
  overflow: visible;
  position: relative;
  top: 18px;
}
md-toolbar.exp-toolbar .exp-header-title {
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
}


/**
 * post
 */
.exp-post .exp-post-photo-top {
  background: #265d95;
  color: #ffffff;
  text-align: center;
  height: 32px;
}
.exp-post textarea.exp-post-field {
  width: 100%;
  min-height: 200px;
  border: none;
  resize: none;
}
.exp-post .tab {
  background-color: #c0c0c0;
  padding: 4px;
  line-height: 36px;
}
.exp-post .tab.active {
  background-color: #265d95;
}

/**
 * backgrounds
 */
.exp-bg1 {
  background: url(../img/backgrounds/fundo1.jpg) no-repeat fixed center;
  background-size: 100%;
}
.exp-bg2 {
  background: url(../img/backgrounds/fundo2.jpg) no-repeat fixed center;
  background-size: 100%;
}
.exp-bg3 {
  background: url(../img/backgrounds/fundo3.jpg) no-repeat fixed center;
  background-size: 100%;
}

/**
 * avatar
 */
.exp-avatar {
  overflow: hidden;
  text-align: center;
  /*-webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);*/
  /*-moz-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);*/
  /*-ms-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);*/
  /*clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);*/
}

.exp-avatar.exp-avatar-32,
.exp-avatar.exp-avatar-32 > exp-avatar-img > img,
.exp-avatar.exp-avatar-32 > img,
.exp-avatar.exp-avatar-32 > svg {
  width: 32px;
  height: 32px;
}
.exp-avatar.exp-avatar-48,
.exp-avatar.exp-avatar-48 > exp-avatar-img > img,
.exp-avatar.exp-avatar-48 > img,
.exp-avatar.exp-avatar-48 > svg {
  width: 48px;
  height: 48px;
}
.exp-avatar.exp-avatar-64,
.exp-avatar.exp-avatar-64 > exp-avatar-img > img,
.exp-avatar.exp-avatar-64 > img,
.exp-avatar.exp-avatar-64 > svg {
  width: 64px;
  height: 64px;
}
.exp-avatar.exp-avatar-96,
.exp-avatar.exp-avatar-96 > exp-avatar-img > img,
.exp-avatar.exp-avatar-96 > svg {
  width: 96px;
  height: 96px;
}
.exp-avatar.exp-avatar-128,
.exp-avatar.exp-avatar-128 > exp-avatar-img > img,
.exp-avatar.exp-avatar-128 > svg {
  height: 128px;
  width: 128px;
}

/**
 * iOS top
 */
.exp-ios-top {
  position: fixed;
  overflow: hidden;
  height: 20px;
  width: 100%;
  background-color: red;
}

/**
 * profile
 */

.exp-profile {
  color: #265d95;
}

.exp-profile md-content {
  background: #F5F5F5;
}

.exp-profile .gray {
  color: #949494;
}

.exp-profile .align-text-middle {
  display: table-cell;
  vertical-align: middle;
}

.exp-profile .left {
  float: left;
}

.exp-profile .right {
  float: right;
}

.exp-profile .place {
  line-height: 27px;
}

.exp-profile .bt-edit{
  font-size: 0.9em;
  text-transform: none;
  font-weight: 400;
}

.exp-profile .publish{
  font-size: 0.8em;
}

.exp-profile .md-tile-left img {
  width: 52px;
}


/**
 * places
 */
.exp-places {
}
.exp-places-title {
  text-align: center;
  padding: 8px;
  font-size: 1.1em;
  background: rgb(240,240,240);
}

/**
 * toolbars
 */
.exp-toolbar-1 {
  line-height: 36px;
  text-align: center;
  height:36px;
  min-height:36px;
}
.exp-toolbar-2 {
  line-height: 72px;
  text-align: center;
  height:72px;
  min-height:72px;
}
.exp-toolbar-4 {
  line-height: 108px;
  text-align: center;
  height:108px;
  min-height:108px;
}

md-toolbar.md-default-theme.exp-toolbar-3 {
  background: #ccc;
  box-shadow: none;
}
.exp-toolbar-3 {
  line-height: 36px;
  text-align: center;
  height:36px;
  min-height:36px;
}
.exp-toolbar-3 .tab {
  line-height: 36px;
  height: 36px;
  max-height: 36px;
  font-size: 14px;
}
.exp-toolbar-3 .tab.active {
  background: #034282;
}

#map_canvas_places_locals,
#map_canvas_places_stores {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.exp-fill {
  position: absolute;
  top: 116px;
  bottom: 0;
  left: 0;
  right: 0;
  /*width: 100%;*/
  /*height: 100%;*/
  /*padding-bottom: 64px;*/
}

.exp-text-blue {
  color: #034282;
}

/**
 * checklist
 */
.exp-checklist-tools {
  margin-top: 8px;
  margin-bottom: 8px;
}
.exp-checklist-box {
  padding: 8px;
  text-align: center;
  background: #034282;
  color: #ffffff;
  font-weight: bold;
}
.exp-checklist-box.gray {
  background: #999999;
}
.exp-checklist-box .exp-checklist-box-title {
  display: block;
  display: -webkit-box;
  width: 100%;
  height: 27px;
  max-height: 27px;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
.exp-checklist-box md-checkbox {
  margin: 0;
}
.exp-align-left {
  text-align: left;
}
.exp-margin-right {
  margin-right: 8px;
}
.exp-padding-left {
  padding-left: 8px;
}

/**
 * profile edit
 */
.exp-profile-edit .md-input-group > input, .exp-profile-edit md-input-group > input {
  width: 100%;
}
.exp-profile-edit .md-switch-thumb, .exp-profile-edit md-radio-button {
  display: inline;
}


/**
 * message / chat
 */
.exp-connections .exp-connections-list md-item.exp-chat-consultor {
  background: #265d95;
  color: #ffffff;
}
.exp-connections .exp-connections-list md-item.exp-chat-consultor h3 {
  color: #ffffff;
  margin-bottom: 8px;
}
.exp-connections .exp-connections-list .md-tile-left {
  margin-right: -4px;
}
.exp-connections .exp-connections-list .md-tile-content {
  padding: 8px;
}
.exp-connections .exp-connections-list md-item h3 p,
.exp-connections .exp-connections-list md-item.exp-chat-consultor h3 p {
  color: rgba(0,0,0,.5);
  font-style: italic;
}
.exp-connections .exp-connections-list md-item.exp-chat-consultor h3 p {
  color: rgba(255,255,255,.6);
}
.exp-connections-time {
  opacity: 0.6;
  font-size: 12px;
}
.exp-connections-time md-svg-icon {
  position: relative;
  top: 3px;
}

/**
 * mensagem
 */
.exp-talk md-item-content.exp-chat-me {
  color: #ffffff;
  background: #265d95;
}
.exp-talk md-item-content.exp-chat-me .md-tile-content {

}
.exp-talk md-item-content.exp-chat-friend .md-tile-content {
}

/**
 * documentos
 */
.exp-documents .exp-documents-top {
  background: #cccccc;
}
.exp-documents button {
  min-width: 36px;
}

/**
 * produtos
 */

.exp-products .card-products {
  background-color: #034282;
  color: #fff;
}

.exp-products .card-products h2 {
  margin: 4px 0;
  font-size: 1.08em;
}
.exp-products .exp-product-open {
  color: #333333;
  background: #ffffff;
  margin-top: 8px;
  border-radius: 2px;
}
.exp-products .exp-semantic-alert {
  margin-top: 8px;
}
.exp-products .exp-product-stuffs {
  margin-top: 8px;
}
