*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  overflow: hidden;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}
body {
  -webkit-touch-callout: none;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
  word-wrap: break-word;
  font-size: 1em;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 20px;
  text-rendering: optimizeLegibility;
  /*-webkit-backface-visibility: hidden;*/
  -webkit-user-drag: none;
}
a {
  display: block;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Remove default margin.
 */
body {
  margin: 0;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}
/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}
/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}
/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}
/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}
/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}
/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}
/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
.padding {
  padding: 8px;
}
.sidemenu img {
  border-radius: 32px;
  margin: 0;
  padding: 0;
}
.sidemenu-title h1 {
  margin: 0;
  font-weight: normal;
  font-size: 1em;
  line-height: 1em;
}
.sidemenu .item {
  line-height: 44px;
}
.sidemenu .item a {
  display: block;
  text-decoration: none;
}
.theme-bluegrey {
  color: #ffffff;
  background-color: #607d8b;
}
.theme-bluegrey-900 {
  color: #ffffff;
  background-color: #263238;
}
.theme-bluegrey-900 a {
  color: #ffffff;
}
.theme-bluegrey-800 {
  color: #ffffff;
  background-color: #37474f;
}
.theme-bluegrey-800 a {
  color: #ffffff;
}
.theme-bluegrey-700 {
  color: #ffffff;
  background-color: #455a64;
}
.theme-bluegrey-700 a {
  color: #ffffff;
}
.theme-bluegrey-600 {
  color: #ffffff;
  background-color: #546e7a;
}
.theme-bluegrey-600 a {
  color: #ffffff;
}
.theme-bluegrey-500 {
  color: #ffffff;
  background-color: #607d8b;
}
.theme-bluegrey-500 a {
  color: #ffffff;
}
.theme-bluegrey-400 {
  color: #ffffff;
  background-color: #78909c;
}
.theme-bluegrey-400 a {
  color: #ffffff;
}
.theme-bluegrey-300 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #90a4ae;
}
.theme-bluegrey-300 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-bluegrey-200 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #b0bec5;
}
.theme-bluegrey-200 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-bluegrey-100 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #cfd8dc;
}
.theme-bluegrey-100 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-bluegrey-50 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #eceff1;
}
.theme-bluegrey-50 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-grey {
  color: rgba(0, 0, 0, 0.87);
  background-color: #9e9e9e;
}
.theme-grey-A100 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;
}
.theme-grey-A100 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-grey-1000 {
  color: #ffffff;
  background-color: #000000;
}
.theme-grey-1000 a {
  color: #ffffff;
}
.theme-grey-900 {
  color: #ffffff;
  background-color: #212121;
}
.theme-grey-900 a {
  color: #ffffff;
}
.theme-grey-800 {
  color: #ffffff;
  background-color: #424242;
}
.theme-grey-800 a {
  color: #ffffff;
}
.theme-grey-700 {
  color: #ffffff;
  background-color: #616161;
}
.theme-grey-700 a {
  color: #ffffff;
}
.theme-grey-600 {
  color: #ffffff;
  background-color: #757575;
}
.theme-grey-600 a {
  color: #ffffff;
}
.theme-grey-500 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #9e9e9e;
}
.theme-grey-500 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-grey-400 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #bdbdbd;
}
.theme-grey-400 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-grey-300 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #e0e0e0;
}
.theme-grey-300 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-grey-200 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #eeeeee;
}
.theme-grey-200 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-grey-100 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #f5f5f5;
}
.theme-grey-100 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-grey-50 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #fafafa;
}
.theme-grey-50 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-brown {
  color: #ffffff;
  background-color: #795548;
}
.theme-brown-900 {
  color: #ffffff;
  background-color: #3e2723;
}
.theme-brown-900 a {
  color: #ffffff;
}
.theme-brown-800 {
  color: #ffffff;
  background-color: #4e342e;
}
.theme-brown-800 a {
  color: #ffffff;
}
.theme-brown-700 {
  color: #ffffff;
  background-color: #5d4037;
}
.theme-brown-700 a {
  color: #ffffff;
}
.theme-brown-600 {
  color: #ffffff;
  background-color: #6d4c41;
}
.theme-brown-600 a {
  color: #ffffff;
}
.theme-brown-500 {
  color: #ffffff;
  background-color: #795548;
}
.theme-brown-500 a {
  color: #ffffff;
}
.theme-brown-400 {
  color: #ffffff;
  background-color: #8d6e63;
}
.theme-brown-400 a {
  color: #ffffff;
}
.theme-brown-300 {
  color: #ffffff;
  background-color: #a1887f;
}
.theme-brown-300 a {
  color: #ffffff;
}
.theme-brown-200 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #bcaaa4;
}
.theme-brown-200 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-brown-100 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #d7ccc8;
}
.theme-brown-100 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-brown-50 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #efebe9;
}
.theme-brown-50 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-deeporange {
  color: #ffffff;
  background-color: #ff5722;
}
.theme-deeporange a {
  color: #ffffff;
}
.theme-deeporange-A700 {
  color: #ffffff;
  background-color: #dd2c00;
}
.theme-deeporange-A700 a {
  color: #ffffff;
}
.theme-deeporange-A400 {
  color: #ffffff;
  background-color: #ff3d00;
}
.theme-deeporange-A400 a {
  color: #ffffff;
}
.theme-deeporange-A200 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #ff6e40;
}
.theme-deeporange-A200 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-deeporange-A100 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #ff9e80;
}
.theme-deeporange-A100 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-deeporange-900 {
  color: #ffffff;
  background-color: #bf360c;
}
.theme-deeporange-900 a {
  color: #ffffff;
}
.theme-deeporange-800 {
  color: #ffffff;
  background-color: #d84315;
}
.theme-deeporange-800 a {
  color: #ffffff;
}
.theme-deeporange-700 {
  color: #ffffff;
  background-color: #e64a19;
}
.theme-deeporange-700 a {
  color: #ffffff;
}
.theme-deeporange-600 {
  color: #ffffff;
  background-color: #f4511e;
}
.theme-deeporange-600 a {
  color: #ffffff;
}
.theme-deeporange-500 {
  color: #ffffff;
  background-color: #ff5722;
}
.theme-deeporange-500 a {
  color: #ffffff;
}
.theme-deeporange-400 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #ff7043;
}
.theme-deeporange-400 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-deeporange-300 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #ff8a65;
}
.theme-deeporange-300 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-deeporange-200 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffab91;
}
.theme-deeporange-200 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-deeporange-100 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffccbc;
}
.theme-deeporange-100 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-deeporange-50 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #fbe9e7;
}
.theme-deeporange-50 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-orange {
  color: rgba(0, 0, 0, 0.87);
  background-color: #ff9800;
}
.theme-orange a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-orange-A700 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #ff6d00;
}
.theme-orange-A700 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-orange-A400 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #ff9100;
}
.theme-orange-A400 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-orange-A200 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffab40;
}
.theme-orange-A200 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-orange-A100 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffd180;
}
.theme-orange-A100 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-orange-900 {
  color: #ffffff;
  background-color: #e65100;
}
.theme-orange-900 a {
  color: #ffffff;
}
.theme-orange-800 {
  color: #ffffff;
  background-color: #ef6c00;
}
.theme-orange-800 a {
  color: #ffffff;
}
.theme-orange-700 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #f57c00;
}
.theme-orange-700 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-orange-600 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #fb8c00;
}
.theme-orange-600 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-orange-500 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #ff9800;
}
.theme-orange-500 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-orange-400 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffa726;
}
.theme-orange-400 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-orange-300 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffb74d;
}
.theme-orange-300 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-orange-200 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffcc80;
}
.theme-orange-200 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-orange-100 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffe0b2;
}
.theme-orange-100 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-orange-50 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #fff3e0;
}
.theme-orange-50 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-amber {
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffc107;
}
.theme-amber a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-amber-A700 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffab00;
}
.theme-amber-A700 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-amber-A400 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffc400;
}
.theme-amber-A400 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-amber-A200 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffd740;
}
.theme-amber-A200 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-amber-A100 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffe57f;
}
.theme-amber-A100 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-amber-900 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #ff6f00;
}
.theme-amber-900 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-amber-800 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #ff8f00;
}
.theme-amber-800 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-amber-700 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffa000;
}
.theme-amber-700 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-amber-600 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffb300;
}
.theme-amber-600 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-amber-500 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffc107;
}
.theme-amber-500 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-amber-400 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffca28;
}
.theme-amber-400 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-amber-300 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffd54f;
}
.theme-amber-300 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-amber-200 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffe082;
}
.theme-amber-200 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-amber-100 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffecb3;
}
.theme-amber-100 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-amber-50 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #fff8e1;
}
.theme-amber-50 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-yellow {
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffeb3b;
}
.theme-yellow a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-yellow-A700 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffd600;
}
.theme-yellow-A700 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-yellow-A400 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffea00;
}
.theme-yellow-A400 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-yellow-A200 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffff00;
}
.theme-yellow-A200 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-yellow-A100 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffff8d;
}
.theme-yellow-A100 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-yellow-900 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #f57f17;
}
.theme-yellow-900 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-yellow-800 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #f9a825;
}
.theme-yellow-800 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-yellow-700 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #fbc02d;
}
.theme-yellow-700 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-yellow-600 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #fdd835;
}
.theme-yellow-600 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-yellow-500 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffeb3b;
}
.theme-yellow-500 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-yellow-400 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffee58;
}
.theme-yellow-400 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-yellow-300 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #fff176;
}
.theme-yellow-300 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-yellow-200 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #fff59d;
}
.theme-yellow-200 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-yellow-100 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #fff9c4;
}
.theme-yellow-100 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-yellow-50 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #fffde7;
}
.theme-yellow-50 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-lime {
  color: rgba(0, 0, 0, 0.87);
  background-color: #cddc39;
}
.theme-lime a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-lime-A700 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #aeea00;
}
.theme-lime-A700 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-lime-A400 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #c6ff00;
}
.theme-lime-A400 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-lime-A200 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #eeff41;
}
.theme-lime-A200 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-lime-A100 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #f4ff81;
}
.theme-lime-A100 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-lime-900 {
  color: #ffffff;
  background-color: #827717;
}
.theme-lime-900 a {
  color: #ffffff;
}
.theme-lime-800 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #9e9d24;
}
.theme-lime-800 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-lime-700 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #afb42b;
}
.theme-lime-700 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-lime-600 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #c0ca33;
}
.theme-lime-600 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-lime-500 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #cddc39;
}
.theme-lime-500 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-lime-400 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #d4e157;
}
.theme-lime-400 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-lime-300 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #dce775;
}
.theme-lime-300 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-lime-200 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #e6ee9c;
}
.theme-lime-200 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-lime-100 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #f0f4c3;
}
.theme-lime-100 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-lime-50 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #f9fbe7;
}
.theme-lime-50 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-lightgreen {
  color: rgba(0, 0, 0, 0.87);
  background-color: #8bc34a;
}
.theme-lightgreen a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-lightgreen-A700 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #64dd17;
}
.theme-lightgreen-A700 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-lightgreen-A400 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #76ff03;
}
.theme-lightgreen-A400 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-lightgreen-A200 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #b2ff59;
}
.theme-lightgreen-A200 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-lightgreen-A100 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #ccff90;
}
.theme-lightgreen-A100 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-lightgreen-900 {
  color: #ffffff;
  background-color: #33691e;
}
.theme-lightgreen-900 a {
  color: #ffffff;
}
.theme-lightgreen-800 {
  color: #ffffff;
  background-color: #558b2f;
}
.theme-lightgreen-800 a {
  color: #ffffff;
}
.theme-lightgreen-700 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #689f38;
}
.theme-lightgreen-700 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-lightgreen-600 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #7cb342;
}
.theme-lightgreen-600 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-lightgreen-500 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #8bc34a;
}
.theme-lightgreen-500 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-lightgreen-400 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #9ccc65;
}
.theme-lightgreen-400 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-lightgreen-300 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #aed581;
}
.theme-lightgreen-300 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-lightgreen-200 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #c5e1a5;
}
.theme-lightgreen-200 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-lightgreen-100 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #dcedc8;
}
.theme-lightgreen-100 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-lightgreen-50 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #f1f8e9;
}
.theme-lightgreen-50 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-green {
  color: #ffffff;
  background-color: #259b24;
}
.theme-green a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-green-A700 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #12c700;
}
.theme-green-A700 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-green-A400 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #14e715;
}
.theme-green-A400 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-green-A200 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #5af158;
}
.theme-green-A200 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-green-A100 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #a2f78d;
}
.theme-green-A100 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-green-900 {
  color: #ffffff;
  background-color: #0d5302;
}
.theme-green-900 a {
  color: #ffffff;
}
.theme-green-800 {
  color: #ffffff;
  background-color: #056f00;
}
.theme-green-800 a {
  color: #ffffff;
}
.theme-green-700 {
  color: #ffffff;
  background-color: #0a7e07;
}
.theme-green-700 a {
  color: #ffffff;
}
.theme-green-600 {
  color: #ffffff;
  background-color: #0a8f08;
}
.theme-green-600 a {
  color: #ffffff;
}
.theme-green-500 {
  color: #ffffff;
  background-color: #259b24;
}
.theme-green-500 a {
  color: #ffffff;
}
.theme-green-400 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #2baf2b;
}
.theme-green-400 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-green-300 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #42bd41;
}
.theme-green-300 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-green-200 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #72d572;
}
.theme-green-200 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-green-100 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #a3e9a4;
}
.theme-green-100 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-green-50 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #d0f8ce;
}
.theme-green-50 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-teal {
  color: #ffffff;
  background-color: #009688;
}
.theme-teal a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-teal-A700 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #00bfa5;
}
.theme-teal-A700 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-teal-A400 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #1de9b6;
}
.theme-teal-A400 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-teal-A200 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #64ffda;
}
.theme-teal-A200 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-teal-A100 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #a7ffeb;
}
.theme-teal-A100 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-teal-900 {
  color: #ffffff;
  background-color: #004d40;
}
.theme-teal-900 a {
  color: #ffffff;
}
.theme-teal-800 {
  color: #ffffff;
  background-color: #00695c;
}
.theme-teal-800 a {
  color: #ffffff;
}
.theme-teal-700 {
  color: #ffffff;
  background-color: #00796b;
}
.theme-teal-700 a {
  color: #ffffff;
}
.theme-teal-600 {
  color: #ffffff;
  background-color: #00897b;
}
.theme-teal-600 a {
  color: #ffffff;
}
.theme-teal-500 {
  color: #ffffff;
  background-color: #009688;
}
.theme-teal-500 a {
  color: #ffffff;
}
.theme-teal-400 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #26a69a;
}
.theme-teal-400 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-teal-300 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #4db6ac;
}
.theme-teal-300 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-teal-200 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #80cbc4;
}
.theme-teal-200 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-teal-100 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #b2dfdb;
}
.theme-teal-100 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-teal-50 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #e0f2f1;
}
.theme-teal-50 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-cyan {
  color: #ffffff;
  background-color: #00bcd4;
}
.theme-cyan a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-cyan-A700 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #00b8d4;
}
.theme-cyan-A700 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-cyan-A400 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #00e5ff;
}
.theme-cyan-A400 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-cyan-A200 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #18ffff;
}
.theme-cyan-A200 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-cyan-A100 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #84ffff;
}
.theme-cyan-A100 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-cyan-900 {
  color: #ffffff;
  background-color: #006064;
}
.theme-cyan-900 a {
  color: #ffffff;
}
.theme-cyan-800 {
  color: #ffffff;
  background-color: #00838f;
}
.theme-cyan-800 a {
  color: #ffffff;
}
.theme-cyan-700 {
  color: #ffffff;
  background-color: #0097a7;
}
.theme-cyan-700 a {
  color: #ffffff;
}
.theme-cyan-600 {
  color: #ffffff;
  background-color: #00acc1;
}
.theme-cyan-600 a {
  color: #ffffff;
}
.theme-cyan-500 {
  color: #ffffff;
  background-color: #00bcd4;
}
.theme-cyan-500 a {
  color: #ffffff;
}
.theme-cyan-400 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #26c6da;
}
.theme-cyan-400 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-cyan-300 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #4dd0e1;
}
.theme-cyan-300 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-cyan-200 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #80deea;
}
.theme-cyan-200 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-cyan-100 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #b2ebf2;
}
.theme-cyan-100 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-cyan-50 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #e0f7fa;
}
.theme-cyan-50 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-lightblue {
  color: #ffffff;
  background-color: #03a9f4;
}
.theme-lightblue a {
  color: #ffffff;
}
.theme-lightblue-A700 {
  color: #ffffff;
  background-color: #0091ea;
}
.theme-lightblue-A700 a {
  color: #ffffff;
}
.theme-lightblue-A400 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #00b0ff;
}
.theme-lightblue-A400 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-lightblue-A200 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #40c4ff;
}
.theme-lightblue-A200 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-lightblue-A100 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #80d8ff;
}
.theme-lightblue-A100 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-lightblue-900 {
  color: #ffffff;
  background-color: #01579b;
}
.theme-lightblue-900 a {
  color: #ffffff;
}
.theme-lightblue-800 {
  color: #ffffff;
  background-color: #0277bd;
}
.theme-lightblue-800 a {
  color: #ffffff;
}
.theme-lightblue-700 {
  color: #ffffff;
  background-color: #0288d1;
}
.theme-lightblue-700 a {
  color: #ffffff;
}
.theme-lightblue-600 {
  color: #ffffff;
  background-color: #039be5;
}
.theme-lightblue-600 a {
  color: #ffffff;
}
.theme-lightblue-500 {
  color: #ffffff;
  background-color: #03a9f4;
}
.theme-lightblue-500 a {
  color: #ffffff;
}
.theme-lightblue-400 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #29b6f6;
}
.theme-lightblue-400 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-lightblue-300 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #4fc3f7;
}
.theme-lightblue-300 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-lightblue-200 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #81d4fa;
}
.theme-lightblue-200 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-lightblue-100 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #b3e5fc;
}
.theme-lightblue-100 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-lightblue-50 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #e1f5fe;
}
.theme-lightblue-50 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-blue {
  color: #ffffff;
  background-color: #5677fc;
}
.theme-blue a {
  color: #ffffff;
}
.theme-blue-A700 {
  color: #ffffff;
  background-color: #4d69ff;
}
.theme-blue-A700 a {
  color: #ffffff;
}
.theme-blue-A400 {
  color: #ffffff;
  background-color: #4d73ff;
}
.theme-blue-A400 a {
  color: #ffffff;
}
.theme-blue-A200 {
  color: #ffffff;
  background-color: #6889ff;
}
.theme-blue-A200 a {
  color: #ffffff;
}
.theme-blue-A100 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #a6baff;
}
.theme-blue-A100 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-blue-900 {
  color: #ffffff;
  background-color: #2a36b1;
}
.theme-blue-900 a {
  color: #ffffff;
}
.theme-blue-800 {
  color: #ffffff;
  background-color: #3b50ce;
}
.theme-blue-800 a {
  color: #ffffff;
}
.theme-blue-700 {
  color: #ffffff;
  background-color: #455ede;
}
.theme-blue-700 a {
  color: #ffffff;
}
.theme-blue-600 {
  color: #ffffff;
  background-color: #4e6cef;
}
.theme-blue-600 a {
  color: #ffffff;
}
.theme-blue-500 {
  color: #ffffff;
  background-color: #5677fc;
}
.theme-blue-500 a {
  color: #ffffff;
}
.theme-blue-400 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #738ffe;
}
.theme-blue-400 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-blue-300 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #91a7ff;
}
.theme-blue-300 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-blue-200 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #afbfff;
}
.theme-blue-200 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-blue-100 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #d0d9ff;
}
.theme-blue-100 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-blue-50 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #e7e9fd;
}
.theme-blue-50 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-indigo {
  color: #ffffff;
  background-color: #3f51b5;
}
.theme-indigo a {
  color: #ffffff;
}
.theme-indigo-A700 {
  color: #ffffff;
  background-color: #304ffe;
}
.theme-indigo-A700 a {
  color: #ffffff;
}
.theme-indigo-A400 {
  color: #ffffff;
  background-color: #3d5afe;
}
.theme-indigo-A400 a {
  color: #ffffff;
}
.theme-indigo-A200 {
  color: #ffffff;
  background-color: #536dfe;
}
.theme-indigo-A200 a {
  color: #ffffff;
}
.theme-indigo-A100 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #8c9eff;
}
.theme-indigo-A100 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-indigo-900 {
  color: #ffffff;
  background-color: #1a237e;
}
.theme-indigo-900 a {
  color: #ffffff;
}
.theme-indigo-800 {
  color: #ffffff;
  background-color: #283593;
}
.theme-indigo-800 a {
  color: #ffffff;
}
.theme-indigo-700 {
  color: #ffffff;
  background-color: #303f9f;
}
.theme-indigo-700 a {
  color: #ffffff;
}
.theme-indigo-600 {
  color: #ffffff;
  background-color: #3949ab;
}
.theme-indigo-600 a {
  color: #ffffff;
}
.theme-indigo-500 {
  color: #ffffff;
  background-color: #3f51b5;
}
.theme-indigo-500 a {
  color: #ffffff;
}
.theme-indigo-400 {
  color: #ffffff;
  background-color: #5c6bc0;
}
.theme-indigo-400 a {
  color: #ffffff;
}
.theme-indigo-300 {
  color: #ffffff;
  background-color: #7986cb;
}
.theme-indigo-300 a {
  color: #ffffff;
}
.theme-indigo-200 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #9fa8da;
}
.theme-indigo-200 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-indigo-100 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #c5cae9;
}
.theme-indigo-100 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-indigo-50 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #e8eaf6;
}
.theme-indigo-50 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-deeppurple {
  color: #ffffff;
  background-color: #673ab7;
}
.theme-deeppurple a {
  color: #ffffff;
}
.theme-deeppurple-A700 {
  color: #ffffff;
  background-color: #6200ea;
}
.theme-deeppurple-A700 a {
  color: #ffffff;
}
.theme-deeppurple-A400 {
  color: #ffffff;
  background-color: #651fff;
}
.theme-deeppurple-A400 a {
  color: #ffffff;
}
.theme-deeppurple-A200 {
  color: #ffffff;
  background-color: #7c4dff;
}
.theme-deeppurple-A200 a {
  color: #ffffff;
}
.theme-deeppurple-A100 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #b388ff;
}
.theme-deeppurple-A100 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-deeppurple-900 {
  color: #ffffff;
  background-color: #311b92;
}
.theme-deeppurple-900 a {
  color: #ffffff;
}
.theme-deeppurple-800 {
  color: #ffffff;
  background-color: #4527a0;
}
.theme-deeppurple-800 a {
  color: #ffffff;
}
.theme-deeppurple-700 {
  color: #ffffff;
  background-color: #512da8;
}
.theme-deeppurple-700 a {
  color: #ffffff;
}
.theme-deeppurple-600 {
  color: #ffffff;
  background-color: #5e35b1;
}
.theme-deeppurple-600 a {
  color: #ffffff;
}
.theme-deeppurple-500 {
  color: #ffffff;
  background-color: #673ab7;
}
.theme-deeppurple-500 a {
  color: #ffffff;
}
.theme-deeppurple-400 {
  color: #ffffff;
  background-color: #7e57c2;
}
.theme-deeppurple-400 a {
  color: #ffffff;
}
.theme-deeppurple-300 {
  color: #ffffff;
  background-color: #9575cd;
}
.theme-deeppurple-300 a {
  color: #ffffff;
}
.theme-deeppurple-200 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #b39ddb;
}
.theme-deeppurple-200 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-deeppurple-100 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #d1c4e9;
}
.theme-deeppurple-100 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-deeppurple-50 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #ede7f6;
}
.theme-deeppurple-50 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-purple {
  color: #ffffff;
  background-color: #9c27b0;
}
.theme-purple a {
  color: #ffffff;
}
.theme-purple-A700 {
  color: #ffffff;
  background-color: #aa00ff;
}
.theme-purple-A700 a {
  color: #ffffff;
}
.theme-purple-A400 {
  color: #ffffff;
  background-color: #d500f9;
}
.theme-purple-A400 a {
  color: #ffffff;
}
.theme-purple-A200 {
  color: #ffffff;
  background-color: #e040fb;
}
.theme-purple-A200 a {
  color: #ffffff;
}
.theme-purple-A100 {
  color: #ffffff;
  background-color: #ea80fc;
}
.theme-purple-A100 a {
  color: #ffffff;
}
.theme-purple-900 {
  color: #ffffff;
  background-color: #4a148c;
}
.theme-purple-900 a {
  color: #ffffff;
}
.theme-purple-800 {
  color: #ffffff;
  background-color: #6a1b9a;
}
.theme-purple-800 a {
  color: #ffffff;
}
.theme-purple-700 {
  color: #ffffff;
  background-color: #7b1fa2;
}
.theme-purple-700 a {
  color: #ffffff;
}
.theme-purple-600 {
  color: #ffffff;
  background-color: #8e24aa;
}
.theme-purple-600 a {
  color: #ffffff;
}
.theme-purple-500 {
  color: #ffffff;
  background-color: #9c27b0;
}
.theme-purple-500 a {
  color: #ffffff;
}
.theme-purple-400 {
  color: #ffffff;
  background-color: #ab47bc;
}
.theme-purple-400 a {
  color: #ffffff;
}
.theme-purple-300 {
  color: #ffffff;
  background-color: #ba68c8;
}
.theme-purple-300 a {
  color: #ffffff;
}
.theme-purple-200 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #ce93d8;
}
.theme-purple-200 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-purple-100 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #e1bee7;
}
.theme-purple-100 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-purple-50 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #f3e5f5;
}
.theme-purple-50 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-pink {
  color: #ffffff;
  background-color: #e91e63;
}
.theme-pink a {
  color: #ffffff;
}
.theme-pink-A700 {
  color: #ffffff;
  background-color: #c51162;
}
.theme-pink-A700 a {
  color: #ffffff;
}
.theme-pink-A400 {
  color: #ffffff;
  background-color: #f50057;
}
.theme-pink-A400 a {
  color: #ffffff;
}
.theme-pink-A200 {
  color: #ffffff;
  background-color: #ff4081;
}
.theme-pink-A200 a {
  color: #ffffff;
}
.theme-pink-A100 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #ff80ab;
}
.theme-pink-A100 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-pink-900 {
  color: #ffffff;
  background-color: #880e4f;
}
.theme-pink-900 a {
  color: #ffffff;
}
.theme-pink-800 {
  color: #ffffff;
  background-color: #ad1457;
}
.theme-pink-800 a {
  color: #ffffff;
}
.theme-pink-700 {
  color: #ffffff;
  background-color: #c2185b;
}
.theme-pink-700 a {
  color: #ffffff;
}
.theme-pink-600 {
  color: #ffffff;
  background-color: #d81b60;
}
.theme-pink-600 a {
  color: #ffffff;
}
.theme-pink-500 {
  color: #ffffff;
  background-color: #e91e63;
}
.theme-pink-500 a {
  color: #ffffff;
}
.theme-pink-400 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #ec407a;
}
.theme-pink-400 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-pink-300 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #f06292;
}
.theme-pink-300 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-pink-200 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #f48fb1;
}
.theme-pink-200 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-pink-100 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #f8bbd0;
}
.theme-pink-100 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-pink-50 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #fce4ec;
}
.theme-pink-50 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-red {
  color: #ffffff;
  background-color: #e51c23;
}
.theme-red a {
  color: #ffffff;
}
.theme-red-A700 {
  color: #ffffff;
  background-color: #e00032;
}
.theme-red-A700 a {
  color: #ffffff;
}
.theme-red-A400 {
  color: #ffffff;
  background-color: #ff2d6f;
}
.theme-red-A400 a {
  color: #ffffff;
}
.theme-red-A200 {
  color: #ffffff;
  background-color: #ff5177;
}
.theme-red-A200 a {
  color: #ffffff;
}
.theme-red-A100 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #ff7997;
}
.theme-red-A100 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-red-900 {
  color: #ffffff;
  background-color: #b0120a;
}
.theme-red-900 a {
  color: #ffffff;
}
.theme-red-800 {
  color: #ffffff;
  background-color: #c41411;
}
.theme-red-800 a {
  color: #ffffff;
}
.theme-red-700 {
  color: #ffffff;
  background-color: #d01716;
}
.theme-red-700 a {
  color: #ffffff;
}
.theme-red-600 {
  color: #ffffff;
  background-color: #dd191d;
}
.theme-red-600 a {
  color: #ffffff;
}
.theme-red-500 {
  color: #ffffff;
  background-color: #e51c23;
}
.theme-red-500 a {
  color: #ffffff;
}
.theme-red-400 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #e84e40;
}
.theme-red-400 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-red-300 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #f36c60;
}
.theme-red-300 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-red-200 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #f69988;
}
.theme-red-200 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-red-100 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #f9bdbb;
}
.theme-red-100 a {
  color: rgba(0, 0, 0, 0.87);
}
.theme-red-50 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #fde0dc;
}
.theme-red-50 a {
  color: rgba(0, 0, 0, 0.87);
}
